/* Font import */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/* GENERAL STYLING */

* {
  box-sizing: border-box;
  font-family: Shrikhand, sans-serif;
}

p {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

body {
  background-color: rgb(156, 156, 243);
  padding: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 70px;
  font-weight: 500;
}

button {
  border-radius: 10px;
  border: 4px solid black;
  cursor: pointer;
}

/* STARGING PAGE */

/* welcome text */

#welcome-text span {
  color: rgb(199, 6, 38);
}

#welcome-text {
  width: 85%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

/* QUIZ PAGE */

/* main elements */

#quiz-container {
  width: 70%;
  max-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 0;
}

#question {
  margin-top: 30px;
  font-size: 3rem;
  padding: 0;
}

@media screen and (max-width: 900px) {
  #question {
    font-size: 2rem;
  }
  #answers {
    font-size: 2rem;
  }
}

#answers {
  width: 100%;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.question-prefix {
  font-size: 3rem;
}

@media screen and (max-width: 390px) {
.question-prefix {
  display: none;
}

#answers {
  gap: 5px;
}

}

/* quiz images */

#qImg {
  object-fit: contain;
  width: 350px;
  height: 200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}
@media screen and (max-width: 540px) {
  #quiz-container {
    width: 95%;
  }
}

/* background colors for correct/incorrect answer */

.correct {
  background-color: rgb(52, 182, 52);
}

.incorrect {
  background-color: rgb(240, 44, 44);
}

/* buttons */

.btn {
  font-size: 2.1rem;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 10px;
  border: 4px solid black;
  cursor: pointer;
}

#start-btn {
  background-color: rgb(24, 209, 24);
  margin: 0 auto;
  text-decoration: none;
  font-size: 3rem;
  padding: 10px 20px;
  margin: 0 20px;
}

#start-btn:visited {
  color: black;
}
#start-btn:hover {
  border-color: white;
}

.btn:hover,
btn:active {
  border-color: rgb(60, 158, 51);
}

/* hide class to be able to show/hide elements in js */

.hide {
  display: none;
}

/* container for timer and progress bar */

#score-prog-container {
  width: 60%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 977px) {
  #score-prog-container {
    flex-direction: column;
  }
}
/* timer */

#timer {
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
}

#counter {
  font-size: 3em;
}

#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(236, 223, 223);
  margin-left: 25px;
}

#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: rgb(47, 153, 44);
  margin-top: -10px;
  margin-left: 25px;
}

/* progress bar rendered in js */

.prog {
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0;
}

/* end page with result */

#score-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
}

#score-content {
  background-color: #fefefe;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  width: 60%;
  height: 70%;
  font-size: 32px;
  box-shadow: 0px 5px 15px 0px;
  justify-content: center;
  align-items: center;
}

.result-text {
  flex-wrap: wrap;
}

.result-text a{
  color: blue;
  text-decoration: underline;
}

.result-text span {
  color:rgb(156, 156, 243);
}

/* footer */

footer {
  width: 100%;
  text-align: center;
  top: 0;
}

@media screen and (max-width: 730px) {
  footer {
    display: none;
  }
}